h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 45px;
    font-family: 'Poiret One', 'Didot';
  }

h2 {font-family: 'Poiret One', 'Didot'; margin-top: 8%;}
p {text-align: justify; font-size: 20px; font-family: 'Poiret One', 'Didot';}

div {
  margin-left: 20vw;
  margin-right: 20vw;
}

div {
  opacity: 0;
  transition: opacity .3s 0.25s ease-out;
  will-change: opacity;
}

div.is-visible {
  opacity: 1;
}

body {
  animation-iteration-count:1;
  background: rgb(230,170,170);
  background: radial-gradient(circle, rgba(210,170,170,1) 25%, rgba(148,210,250,1) 100%);
  margin: 0;
}

.header {
  height: 100vh;
}

.header {
    background-image: url("Goteberg.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.header:hover {
  opacity: 1;
}

nav li {
  border: 1px solid;
  border-width: 1px 0;
  margin: 0 4vw;
  font-size: 3vh;
  display: inline;
}

nav ul {
  font-family: Poiret One;
  text-align: center;
}

nav a {
  text-decoration: none;
  width: 1vw;
  color: black;
}

nav a:hover {
  color: white;
}

.welcome.is-visible {
  font-family: 'Poiret One', 'Didot';
  animation-name: welcome;
  animation-duration: 2s;
  animation-iteration-count: 1;
  padding-top: 2%;
}

@keyframes welcome {
  from {
    margin-left: 80%;
    width: 200%
  }

  to {
    margin-left: 0%;
    width: 200%
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.italy{
  margin-left: auto;
  margin-right: 20px;
  max-width: 25%;
  max-height: 25%;
  border-radius: 20px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.italy.is-visible {
  animation: bio 3s;
}

@keyframes bio {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}

#var {
  margin-top: 10px;
  max-width: 50%;
  max-height: 40%;
  border-radius: 20px;
  margin-right: 3%;
}

#run {
  margin-top: 10px;
  max-width: 30%;
  max-height: 40%;
  border-radius: 20px;
}

#hult {
  margin-top: 10px;
  max-width: 70%;
  max-height: 30%;
  border-radius: 20px;
  margin-right: 0;
}

#teach {
  max-width: 70%;
  max-height: 30%;
  border-radius: 20px;
}

#burano {
  max-width: 34%;
  max-height: 30%;
  border-radius: 20px;
  margin-right: 3%;
}

#cali {
  max-width: 50%;
  max-height: 30%;
  border-radius: 20px;
}

footer {
  margin-top: 5%;
  height: 50%;
}

footer p {
  text-align: center;
  font-size: 13px;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 3em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}
