.tooltip {
  display: inline-block;
  position:relative;
  border-bottom:1px dotted #666;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10%;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 5%;
  margin-left: -5px;
  border-width: 0.5vw;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
